body{
    background-color: gray
}
.header {
    background-color: #f78585;
    color: white;
    padding: 10px;
    text-align: center;
  }

  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }